
@import url('https://fonts.googleapis.com/css2?family=Molengo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Molengo&family=Montserrat:wght@100&display=swap');


*{
    text-decoration: none;
    color: black;
    font-family:'Molengo', sans-serif;  
  
    
    
   
}

a {
    text-decoration: none;
}


    .boton1 { 
      
       width: 20%;
       height: 30%;
       display: inline-block;
       margin-left: 41%;
       margin-top: 2%;
       margin-right: 5%;
       background-color: #96eaed;
       border-radius: 30px;
       font-size: 1.2rem;
       position: relative;
       cursor:copy;
       border-color: #040404;
      
  
 


    }

    .boton1:hover{
        background-color: black;
        color: white;
    }

    body {
      
       
        background-image: url("https://www.transparenttextures.com/patterns/arches.png");

        
    }